@page "/about"
@page "/faq"

<h2>About</h2>

<p>Splaylist was designed with the goal of making it easier to sort a user's Spotify playlists.</p>

<p>The Spotify API holds very detailed data on each track to form its radio reccommendations, and this data is available to users via their developer API. Splaylist can pull in your playlists and display this data.</p>

<h4>How do I use it?</h4>
<p>Log in with your existing Spotify account, select a playlist, select additional columns from the drop down menu, and sort tracks by this added data.</p>

<h4>will you hack me?</h4>
<p>This project runs entirely within your browser, and data is only sent to Spotify's servers. You can revoke access from your Spotify account settings at any time.</p>

<h4>What do 'valence', 'dancability', 'energy' and the rest mean?</h4>
<p>These are the values that Spotify assign to each song to form their reccommendations. <a href="https://developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/" target="_blank">This link</a> can explain it better than myself.</p>

<h4>What features are yet to come?</h4>
<ul>
    <li>Exporting Playlist Backups</li>
    <li>Deduplicating Playlists</li>
    <li>Better handling of genres</li>
    <li>Move / Copy tracks to a new playlist</li>
</ul>

<h4>Who <i>are</i> you?</h4>
<p>Alex McKirdy, recently finished a computer science degree, please hire me.</p>
