@page "/"

@using splaylist.Helpers

<!-- HTML derived from https://html5up.net/hyperspace -->
<div id="homepage">
<div id="wrapper">
<section id="intro" class="wrapper fullscreen">
    <div class="inner">
        <h1>Spotify Playlist Sorter</h1>
        <p>Show the extra data hidden in <a href="https://developer.spotify.com/discover/" target="_blank">Spotify's API.</a><br />
        Project in development; things will be incomplete or broken.</p>
        <ul class="actions">
            <li><a href="@Auth.GetLoginLink()" class="button" style="background-color: #1c7d2f;">Log In with Spotify</a></li>
        </ul>

    </div>

</section>

</div>
</div>
