@page "/playlists/{id}"

@using splaylist.Helpers
@using SpotifyAPI.Web.Models
@using  Blazorise.DataGrid

@inject APIHelper api



@if (loadedPlaylist != null)
{
    <h2>@loadedPlaylist.Name</h2>

    <DataGrid TItem="PlaylistTrack" Data="@loadedPlaylist.Tracks.Items" PageSize="50" class="table table-hover table-dark" >
        <DataGridColumn TItem="PlaylistTrack" Field="Track.Name" Caption="Name" AllowSort="true" />
        <DataGridColumn TItem="PlaylistTrack" Field="Track.Album.Name" Caption="Album" AllowSort="true" />
        <DataGridColumn TItem="PlaylistTrack" Field="Track.Artists" Caption="Artists" AllowSort="true">
            <DisplayTemplate>
                @* below line fails, prints name of object, need to retrieve .Artists.Name*@
                @(PrintArtists(context as PlaylistTrack))
            </DisplayTemplate>
        </DataGridColumn>

    </DataGrid>
}
else
{
    <p>Loading...</p>
}

@code
{

    [Parameter]
    public string id { get; set; }

    FullPlaylist loadedPlaylist;
    PlaylistTrack single;


    protected override async Task OnInitializedAsync()
    {
        loadedPlaylist = await api.S.GetPlaylistAsync(id);

    }

    private string PrintArtists(PlaylistTrack p)
    {
        string result = "";
        foreach (var artist in p.Track.Artists)
        {
            result += artist.Name;
        }
        return result;
    }

}
