<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h3>uupsie woopsie, summowone made a fucky wucky. 404 not found.</h3>
        </LayoutView>
    </NotFound>
</Router>
