@page "/"

<h2>Spotify Playlist Sorter</h2>
<p>There's a lot of meticulous data Spotify holds about music, all available through their developer API. 
    While there are <a href="https://developer.spotify.com/discover/" target="_blank">a lot of great sites</a> to browse and explore this data, I still needed help to sort out my music library.</p>

<p>Very early development right now, using the Blazor framework (affirming my hatred / lack of knowledge about JavaScript).</p>