@page  "/playlists"

@using  Helpers
@inject AuthHelper ah
@inject APIHelper sp

@using SpotifyAPI.Web
@using SpotifyAPI.Web.Models
@using  Blazorise.DataGrid

<p>User ID: @userID</p>


@if (playlist_reader != null)
{

    <DataGrid TItem="SimplePlaylist" Data="@playlist_reader.Items"  PageSize="50" class="table table-hover table-dark">
        <DataGridColumn TItem="SimplePlaylist" Field="@nameof(SimplePlaylist.Name)" Caption="Name" AllowSort="true" />
        <DataGridColumn TItem="SimplePlaylist" Field="Owner.DisplayName" Caption="User" AllowSort="true" />
        <DataGridNumericColumn TItem="SimplePlaylist" Field="Tracks.Total" Caption="Tracks" AllowSort="true" />
    </DataGrid>

}
else
{
    <p>Playlists Not Loaded</p>
    <p>Login: @sp.IsAuthenticated()</p>
}

@code {

    PrivateProfile pp; // lol pp
    string userID = "";
    Paging<SimplePlaylist> playlist_reader;

    protected override async Task OnInitializedAsync()
    {
        pp = await sp.S.GetPrivateProfileAsync();
        userID = pp.Id;
        
        // TODO - depaginate
        playlist_reader = await sp.S.GetUserPlaylistsAsync(pp.Id, limit: 50);
    }
}